<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FuelTrack</title>
    </head>
    <body>
        <div class="container">
            <div class="box avg-mpg">
                <h2>Avg. MPG</h2>
                <p>XX</p>
            </div>
            <div class="box last-mpg">
                <h2>Last MPG</h2>
                <p>XX</p>
            </div>
            <div class="box best-mpg">
                <h2>Best MPG</h2>
                <p>XX</p>
            </div>
        </div>

        <div class="graph mpg-graph">[ Graph Here]</div>

        <div class="container">
            <div class="box avg-fuel-cost">
                <h2>Avg. Fuel Cost</h2>
                <p>XX</p>
            </div>
            <div class="box last-fuel-cost">
                <h2>Last Fuel Cost</h2>
                <p>XX</p>
            </div>
            <div class="box total-fuel-cost">
                <h2>Total Fuel Cost</h2>
                <p>XX</p>
            </div>
        </div>
    
        <div class="graph fuel-cost-graph">[ Graph here ]</div>
    
        <div class="container">
            <div class="box avg-mileage">
                <h2>Avg. Mileage</h2>
                <p>XX</p>
            </div>
            <div class="box avg-price-per-litre">
                <h2>Avg. £/l</h2>
                <p>XX</p>
            </div>
            <div class="box refuel-frequency">
                <h2>Refuel Frequency</h2>
                <p>XX</p>
            </div>
        </div>
    
        <div class="button-container">
            <button>Add entry</button>
        </div>
    
    </body>
</html>